<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dts.mposmon">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.dts.base.appGlobals"
        android:allowBackup="true"
        android:icon="@drawable/mposmonc"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/mposmonc"
        android:supportsRtl="true"
        android:theme="@style/Theme.MPosMon">

        <service
            android:name="com.dts.services.srvBase"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.dts.services.srvBaseJob"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.dts.services.srvOrdenesImport"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.dts.services.srvCommit"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PBase" />
        <activity android:name=".Reactivacion" />
        <activity android:name=".Detalle" />
        <activity android:name=".Sucursal" />
        <activity android:name=".Impresora" />
    </application>

</manifest>